@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
:root {
    --boxGreen: #a3cb38;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 105px; */
}

.projectHeader {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 65px;
}

.bio {
    margin-bottom: 85px;
    width: 42%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 192px);
    grid-template-rows: repeat(2, 330px);
    grid-gap: 30px 266px;
    width: 67%;
}

.projectSlides {
    width: 159%;
    /* height: 58vh; */
    text-align: left;
    position: relative;
    /* overflow: auto; */
}

.projectImage {
    z-index: -1;
}

.topBox {
    height: 47px;
    width: 33px;
    position: absolute;
    left: 0.5em;
    background-color: var(--boxGreen);
    z-index: 1;
    top: -0.7em;
}