@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
:root {
    --boxGreen: #a3cb38;
}

.contactContainer {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
}

.leftContactContent {
    text-align: left;
    background-color: var(--boxGreen);
    width: 34%;
    height: 14em;
    position: relative;
    color: white;
}

.contactTexts {
    position: absolute;
    left: 22%;
    top: 22%;
}

.title {
    font-size: 3em;
    font-weight: 600;
}

.email>a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.socalIcons {
    display: inline-flex;
}

.icons {
    width: 19px;
    margin: 8px 4px;
}

.rightContactContent {
    position: relative;
    right: 6.5%;
    margin-bottom: 2.2em;
}

@media screen and (max-width: 1100px) {
    .leftContactContent {
        text-align: left;
        background-color: var(--boxGreen);
        width: 44%;
        height: 13em;
        position: relative;
        color: white;
    }
    .title {
        font-size: 2.5em;
    }
    .email>a {
        font-size: 15px;
    }
    .icons {
        width: 17px;
    }
}

@media screen and (max-width: 600px) {
    .leftContactContent {
        width: 13em;
        height: 10em;
    }
    .contactTexts {
        left: 1em;
        top: 1.5em;
    }
    .title {
        font-size: 2em;
    }
    .rightContactContent {
        margin-bottom: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .leftContactContent {
        width: 11em;
        height: 8em;
    }
    .contactTexts {
        left: 2em;
        top: 0.9em;
    }
    .title {
        font-size: 1.5em;
    }
    .rightContactContent {
        margin-bottom: 2em;
        font-size: .6em;
    }
    .email>a {
        font-size: 0.6em;
    }
}